<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Menu</h3>
	</div>
	<div class="panel-body">
		<ul class="nav nav-pills nav-stacked">
			<li class="active"><a href="#admin/users">Users<span class="badge pull-right js-admin-menu">{{usersCtr}}</span></a></li>
			<li><a href="#admin/assessors">Assessors<span class="badge pull-right js-admin-menu">{{assessorsCtr}}</span></a></li>
			<li><a href="#admin/skills">Skills<span class="badge pull-right js-admin-menu">{{skillsCtr}}</span></a></li>
		</ul>
	</div>
</div>