<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
				Firstname Lastname
			</a>
		</h4>
	</div>
	<div id="collapseOne" class="panel-collapse collapse">
		<div class="panel-body">
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
				<img src="http://placehold.it/140x140" class="img-thumbnail img-responsive" alt="Responsive image">
			</div>
			<div class="col-xs-6 col-sm-6 col-md-9 col-lg-9">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Skills</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>HTML</td>
								<td><i class="glyphicon glyphicon-thumbs-up"></i></td>
							</tr>
							<tr>
								<td>CSS</td>
								<td><i class="glyphicon glyphicon-thumbs-down"></i></td>
							</tr>
							<tr>
								<td>JavaScript</td>
								<td><i class="glyphicon glyphicon-thumbs-down"></i></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<label>Assessor:&nbsp;</label>
			<label>
				<select class="form-control">
					<option>Select Assessor</option>
					<option>Firstname Lastname</option>
				</select>
			</label>
			<span class="pull-right">
				<button type="button" class="btn btn-success btn-sm">Assign as assessor</button>
				<button type="button" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i></button>
			</span>
		</div>
	</div>
</div>