<a href="#" class="skill-node" data-title="Description" data-content="<%= description %>" data-placement="top" data-trigger="hover">
	<%= name %>
	<div class="horizontal-divider"></div>
	<div class="skill-actions">
		<button type="button" class="btn btn-default btn-sm" id="js-add-skill">
			<i class="glyphicon glyphicon-plus-sign"></i>
		</button>
		<button type="button" class="btn btn-default btn-sm" id="js-update-skill">
			<i class="glyphicon glyphicon-edit"></i>
		</button>
		<button type="button" class="btn btn-danger btn-sm" id="js-delete-skill">
			<i class="glyphicon glyphicon-remove-circle"></i>
		</button>
	</div>
</a>
<ul></ul>