<a href="#" class="skill-description" data-title="Description" data-content="<%= description %>" data-placement="top" data-trigger="hover">
	<%= name %>
	<div class="horizontal-divider"></div>
	<div class="skill-actions">
		<button type="button" class="btn btn-default btn-sm" id="js-add-skill" rel="tooltip" data-title"Add" data-placement="top" data-trigger="hover focus">
			<i class="glyphicon glyphicon-plus-sign"></i>
		</button>
		<button type="button" class="btn btn-default btn-sm" id="js-edit-skill" rel="tooltip" data-title"Edit" data-placement="top" data-trigger="hover focus">
			<i class="glyphicon glyphicon-edit"></i>
		</button>
		<button type="button" class="btn btn-danger btn-sm" id="js-delete-skill" rel="tooltip" data-title"Delete" data-placement="top" data-trigger="hover focus">
			<i class="glyphicon glyphicon-remove-circle"></i>
		</button>
	</div>
</a>
<ul></ul>